body {
    background-image: url("Kuvat/Tausta.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a{
    color: azure;
    text-shadow: 3px 3px 2px #000000;
    font-size: 30px;
}
header{
    display: grid;
    justify-items: center;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px #000000;
}
h2{
    color: white;
    text-shadow: 2px 2px 0px #000000;
    text-align: center;
}
h3{
    color: white;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 0px #000000;
}
.showPic{
    width: 420px;
}